.myNav{
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 8px;
    color: white;
    width: auto;
    // height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    // border-bottom: 3px solid transparent;
}
.myNav:hover{
    // background-color: lightgrey;
    cursor: pointer;
    // border-bottom: 3px solid lightgray;
    background-color: #00000020;
    border-radius: 12px;
    font-size: larger;
    padding-left:4px;
    padding-right:4px;

}

.myNav a:visited { color: #fff; }
