.myNav {
  align-items: center;
  justify-content: center;
}

.myNav a {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  width: auto;
  // height: 30px;
  display: flex;

  font-size: 18px;
  border-bottom: 3px solid transparent;
}
.myNav a:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(206, 136, 7);
  background-color: #00000020;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.myNav a:visited {
  color: #fff;
}
